/* fonts */
.sarabun {
	font-family: 'Sarabun', sans-serif;
}
.date-heading{
	text-align: left; 
	font-style: sans-serif bold; 
	font-size: 80px;
	color: aliceblue;
	position: absolute;
	top: 30vh;

	left:5vw;
	
}
.arrow{
	width: 300px; 
	height: 300px;
	top:0;
	
}

.sticker1{
	min-width: 20vw;
	max-width: 40vw; 
	max-height: fit-content;
	min-height: 30vw;
	padding: 1em;
	align-items: center;
	
	
	
}
/* ANIMATION LEFT TO RIGHT SLIDING*/
.slide-right {
	width: 100%;
	overflow: hidden;
	margin-left: 1%;
	max-width: 500px;
 }
 .slide-right {
	animation: 2s slide-right;
	animation-delay: 1s;
 }
 
 @keyframes slide-right {
	 from {
		margin-left: -500px;
		display: none;
	 }
 
	 to {
		margin-left: 0%;
		display: block;
	 }
  }
.guh-logo{
	width:4vh;
	display: inline-block;
	justify-content: bottom;
	align-items: center;
	
}
.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid aliceblue;/* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
							/* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 3.6s steps(25, end) 0s 1 normal both,
	  blink-caret 600ms  steps(25,end) infinite;
  }
  @keyframes typing {
	from { width: 0 }
	to { width: 400px }
  }
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% {  border-color: aliceblue; }
  }
nav {
	background: transparent; 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: auto max-content;
	align-items: center;
	color: white;
	padding: 1rem;
}

nav span {
	font-size: 2em;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.25em;
}

nav .fa {
	font-size: 1.4em;
}
.frontpage{
	
	width: 95%;
	max-width: 95vw;
	height: 100vh;
	
	
}
/* .homepage{
	background-image: url("./img/guh_wallpaper.jpg");
	background-size:cover;
	
	

} */

body {
  
  background-color: #0e29a6;
  line-height: 1;
  font-family: "Montserrat";
  margin: 0 auto;
  overflow-x:scroll;
  /* min-height: 100vh; */

  
  
}
.wallpaper {
	width: 100%;

	max-height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	filter: blur(2px);
  -webkit-filter: blur(2px);
  background-size: cover ;
  }
.container {
	max-width: 1200vw;
	width: 90%;
	margin: auto;
	padding: 1px ;
	
}
.main.container{
  margin-top: 0px;
 
}

.col1 {
  
  display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.looking { 
  margin-top: 1em;
 
  color: aliceblue;

}
.lf{
  font-size: 100px;
}
.sponsor{
  font-size: 100px;
}



.highlight-button {
  	
	/* margin-left: 7em;
	background: #fc3;
	padding: 0.5em 2em;
	border: 0.2em solid aliceblue;
	border-radius: 2em;
	font-weight: bold;
	box-shadow: 0px 0px 0.5em #A2FBCC;
	color: black;
	font-size: 1.2em; */
	text-align: left; 
	font-style: sans-serif ; 
	font-size: 4vh;
	
	position: absolute;
	top: 80vh;

	left:5.5vw;
	color: #fc3;
	cursor: pointer;
	text-decoration: none;
	/* text-transform: uppercase; */
}
#about-section{
	background-color: #5970f0;
	/* width: 100%;
	height: 100vh; */
}
.contact-us{
  color: aliceblue;
  font-weight: bold;
  font-size: 40px;
	text-decoration: none;
  
}
.wrapper {
  display: inline-block;
  position: relative;
}

.card1 {
	
	border-radius: 2em;
	min-width: 20vw;
	
	
	
	margin: 1em;
	padding: 2em 1em 1em 1em;
	text-align: center;
	
	background-color: transparent; 
    color: aliceblue;
	flex: 1;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	flex-wrap: wrap;
	justify-content: center;
	display: grid;
	


}
.card1 p {
	font-size: auto;
	text-align: center;
}

#committee-list {
	list-style: none;
	margin: 0px -16px -16px -32px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	
  }

  #committee-list li {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 125px;
	margin: 32px;
  }

  #committee-list li img {
	width: 125px;
	height: 125px;
	border-radius: 75px;
	margin-bottom: 16px;
  }

  #committee-list p {
	margin: 0;
	font-weight: bold;
	line-height: 32px;
  }

  #committee-list .name {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
  }

  #committee-list .role {
	font-size: 16px;
	color: aliceblue;
	text-align: center;
	line-height: 24px;
  }


  


.notification
{
	margin-top: 4em;
	color: aliceblue;
	margin-top: 2.8em;
	/* background: #fc3; */
	width: auto;
	text-align: center;
	height: 100%;
	padding-top: 0.3px;
	margin-bottom: 10px;
	padding-bottom: 0.1em;
	font-size: x-large;
	
}



main {
	
	background: #5970f0;

	color: aliceblue;
	display: grid;
}

main aside {
	display: flex;
	align-items: center;
} 

main h1 {
	margin-top: 0;
	font-size: 2em;
}

main article p {
	font-size: 1.2em;
	line-height: 1.5em;
	text-justify: newspaper;
	text-align: justify;
}

main section {
	padding-top: 5em;
}



/*
	faq
*/
#faq {
	
	background: linear-gradient(#0e29a6, #0e29a6);
	width: 100%;
}

#faq article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	
}

.card {
	
	
	border-radius: 2em;
	min-width: 20em;
	
	margin: 1em;
	padding: 2em 1em 1em 1em;
	text-align: center;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
	background-color: #5970f0; 
    color: aliceblue;
	flex: 1;

	
	
	
}
.card-avatar{
	text-align: center;
	
}

.card a {
	color: #3AE088;
	font-weight: bold;
	text-decoration: none;
}

.card img {
	height: 3em;
}

.card h4 {
	font-weight: bold;
	font-size: 1.25em;
}

.card p {
	font-size: 1em;
	text-align: center;
}
/*
	Meet the Team
*/
#about {
	background: linear-gradient(#5970f0, #5970f0);
	display: flex;
}


footer {
	background: #212121;
	padding: 2rem 0;
	text-align: center;
	color: white;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer ul li {
	display: inline-block;
	font-size: 2em;
}

footer ul li a {
	color: white;
	text-decoration: none;
}

footer ul li:not(:last-child) {
	margin-right: 0.5em;
}

footer #email {
	color: white;
}
#devname{
	text-decoration: none;
	color: white;	
}
.unics{
	
	width:60px;
	text-align: center;
	padding-left: 25%;
	
}

.avatar{
	vertical-align: middle;
 	width: 125px;
    border-radius: 50%;
	padding: 1em;
	align-items: center;

}
.equal, .equal > div[class*='col-'] {   
	display: -webkit-box; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex; 
	flex:1 0 auto; 
} 
.one{
	padding-left: 3em;
	padding-right: 0em;
}
.two{
	padding-left: 3em;
	padding-right: 0em;
}
.three{
	padding-left: 4em;
	padding-right: 0em;
}
.four{
	padding-left: 4em;
	padding-right: 0em;
}
.five{
	padding-left: 3em;
	padding-right: 0em;
}
.post
{
	padding-left: 1.5em;
	/* padding-right: 0em; */
}
.name
{
	padding-left: 1em;
	padding-right: 0.4em;
}
.lastname{
	padding-left: 0em;
	padding-right: 9em;
}



#hamburger-icon {
	margin: auto 0; 
	display: none;
	cursor: pointer;
  }
  
  #hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  .open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
	opacity: 0;
  }
  
  .open .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	backface-visibility: hidden;
	background-color: #0e29a6;
	
  }
  
  .mobile-menu {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	height: calc(100vh - 50px);
	width: 100%;
	
  }
  
  .mobile-menu li {
	margin-bottom: 10px;
  }



@media only screen and (min-width: 1001px) {
	header > .container {
		margin-top: 96px;
		margin-bottom: 32px;
	}
}
@media only screen and (max-width: 1200px) {
	.container {
		max-width: calc(100vw - 4em);
	}
}

/* @media only screen and (max-width: 1300px) {
	#lastYear article {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 800px) {
	#lastYear article {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 600px) {
	#lastYear article {
		grid-template-columns: 1fr;
	}
	
	  
} */

@media only screen and (max-width: 800px) {
	.card {
		min-width: 80vw;
		max-width: 80vw;
	}
	.card1 {
		
		text-align: center;
		min-width: 50vw;
		max-width: 50vw;
	}
	
	.highlight-button {
	
		margin: auto;
	}

	.col1 {
		grid-template-columns: none;
		grid-template-rows: auto auto;
		text-align: center;
		padding: 1em 0 4em 0;
	}

	.col2 {
		grid-template-columns: none;
		grid-template-rows: auto auto;
		text-align: center;
		padding: 1em 0 4em 0;
	}

	header .buttons {
		padding: 0 1em;
		grid-template-columns: 1fr 1fr;
	}

	header #logo {
		grid-row: 1;
		max-height: 30vh;
		object-fit: contain;
	}

	#medals {
		grid-template-columns: none;
		grid-template-rows: auto auto auto;
		gap: 5em;
	}
	.wallpaper{
		height:fit-contentx
	}
	.highlight-button{
		top:90vh;
	}
	#navlogo{
		font-size: 10px;
	}
}


@media only screen and (max-width: 1000px) {
	
	body{
		padding-top: 40px;
	  }
	  header {
		position: fixed;
		top: 40px;
	  }
	  
	  
	header {
		margin-top: 4rem;
	}
	
	#sponsors .sponsor {
		max-width: 90%;
		object-fit: contain;
		max-height: 20vh;
	}
	 nav .navbar{
		display: none;
	  }
	#hamburger-icon {
		display: block;
	  }
	  nav {
		background-color: #0e29a6;
	}
	.highlight-button{
		top:90vh;
	}
	#navlogo{
		font-size: 10px;
	}

}


  @media only screen and (max-width: 600px) {
	nav .navbar{
		display: none;
	  }
	  nav {
		  background-color: #0e29a6;
	  }
	  #hamburger-icon {
		display: block;
	  }
	  .sticker1{
		  width: 100%;
		  height: 30vh;
	  }
	  /* .about-section{
		height: calc(100vw - 5px);
	  } */
	  .wallpaper{
		  height: max-content;
	  }
  }

  
/* 




.header h1 {
  font-size: 5em;
}
.header {
  color: white;
}

.content-header {
  padding: 0vh 2.5em 0em 7em;
  align-items: center;
  justify-content: center;
}
.content-image {
  padding: 5vh 2.5em 0em 10em;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 1em;
  margin: 0 auto;
  color: black;
}
.logo-header {
  margin-top: 5vh;
  width: 8em;
}
.img-header {
  text-align: center;
}
.ilu-header {
  width: 30vw;
}
.font-medium {
  font-size: 2.5em;
  font-weight: 500;
}

@media only screen and (max-width: 992px) {
  body {
    text-align: center;
  }
  .content-header,
  .content-image {
    padding: 4em 2.5em 0em 2.5em;
  }
  .header h1 {
    font-size: 3em;
  }
  .logo-header {
    margin-top: 5vh;
    width: 2em;
  }
  .ilu-header {
    width: 30vh;
  }
  .font-medium {
    font-size: 1em;
    font-weight: 700;
  }
} */
